.slider-container {
    max-width: 1170px;
    max-height: 300px;
    display: flex;
    flex-basis: 1;
    margin: 0 auto;

    h1, p, a {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
        color: #FFFFFF;
    }

    h1 {
        font-size: 20px;
        line-height: 30px;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }

    .slider-block {
        min-width: 585px;
        min-height: 300px;
        display: flex;
        align-items: flex-end;
        .slider-block-content {
            margin-left: 40px;
            margin-bottom: 30px;
            max-width: 450px;

            .block-title {
                margin-bottom: 10px;
            }
        }
    }
}

.order-and-search-box {
    max-width: 1170px;
    max-height: 30px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    .ordering {
        display: flex;
        gap: 25px;
        // just for test. gonna remake it
        .order-by-popular {
            font-weight: 300;
        }
        // -------------------------------
    }
    .search-bar {
        margin-right: 35px;
        #search-bar-field {
            border: 1px solid black;
            border-style: inset;
            border-radius: 5px;
            max-height: 20px;
        }
    }
}

main>article>.main-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    .article-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 240px;
        

        .text-box {
            margin: 10px 0 10px 20px;
            max-width: 740px;
            max-height: 220px;
            display: flex;
            flex-direction: column;

            .article-date {
                font-weight: 300;
                font-size: 10px;
                line-height: 15px;
                color: #707070;
                margin-bottom: 5px;
            }
            .article-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                margin-bottom:20px;
            }
            .article-summary {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                width: 670px;
            }
            .article-sub-info {
                margin-top: 15px;
                display: flex;
                img {
                    height: 15px;
                    margin-right: 5px;
                    
                }
                p {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                    color: #707070;
                    padding-top: 2px;
                }
                .sub-info-box {
                    display: flex;
                    margin-right: 20px;
                }
            }
        }

        .img-box {
            img {
                max-height: 200px;
                max-width: 316px;
                border-radius: 10px;
                display: block;
            }
        }
    }
}