.slider-container {
    max-width: 1170px;
    max-height: 300px;
    display: flex;
    flex-basis: 1;
    margin: 0 auto;

    h1, p, a {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
        color: #FFFFFF;
    }

    h1 {
        font-size: 20px;
        line-height: 30px;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }

    .slider-block {
        min-width: 585px;
        min-height: 300px;
        display: flex;
        align-items: flex-end;
        .slider-block-content {
            margin-left: 40px;
            margin-bottom: 30px;
            max-width: 450px;

            .block-title {
                margin-bottom: 10px;
            }
        }
    }
}

.order-and-search-box {
    max-width: 1170px;
    max-height: 30px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    .ordering {
        display: flex;
        gap: 25px;
        // just for test. gonna remake it
        .order-by-popular {
            font-weight: 300;
        }
        // -------------------------------
    }
    .search-bar {
        margin-right: 35px;
        #search-bar-field {
            border: 1px solid black;
            border-style: inset;
            border-radius: 5px;
            max-height: 20px;
        }
    }
}