.slider-container {
  max-width: 1170px;
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  margin: 0 auto;
}
.slider-container h1, .slider-container p, .slider-container a {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}
.slider-container h1 {
  font-size: 20px;
  line-height: 30px;
}
.slider-container p {
  font-size: 14px;
  line-height: 21px;
}
.slider-container .slider-block {
  min-width: 585px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.slider-container .slider-block .slider-block-content {
  margin-left: 40px;
  margin-bottom: 30px;
  max-width: 460px;
}
.slider-container .slider-block .slider-block-content .block-title {
  margin-bottom: 10px;
}

.order-and-search-box {
  max-width: 1170px;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
}
.order-and-search-box .ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.order-and-search-box .ordering .order-by-popular {
  font-weight: 300;
}
.order-and-search-box .search-bar {
  margin-right: 35px;
}
.order-and-search-box .search-bar #search-bar-field {
  border: 1px solid black;
  border-style: inset;
  border-radius: 5px;
  max-height: 20px;
}

main > article > .main-container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0px;
}
main > article > .main-container .article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 240px;
}
main > article > .main-container .article-box .text-box {
  margin: 10px 0 10px 20px;
  max-width: 740px;
  max-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main > article > .main-container .article-box .text-box .article-date {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #707070;
  margin-bottom: 5px;
}
main > article > .main-container .article-box .text-box .article-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
main > article > .main-container .article-box .text-box .article-summary {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 670px;
}
main > article > .main-container .article-box .text-box .article-sub-info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main > article > .main-container .article-box .text-box .article-sub-info img {
  height: 15px;
  margin-right: 5px;
}
main > article > .main-container .article-box .text-box .article-sub-info p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #707070;
  padding-top: 2px;
}
main > article > .main-container .article-box .text-box .article-sub-info .sub-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
main > article > .main-container .article-box .img-box img {
  max-height: 200px;
  max-width: 316px;
  border-radius: 10px;
  display: block;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.pagination p, .pagination a {
  color: black;
}

footer {
  width: 100%;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container {
  width: 770px;
  height: 140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container a, footer .footer-container h1 {
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-container h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
footer .footer-container a {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-container .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
footer .footer-container .footer-row .row-title {
  margin-bottom: 10px;
}
footer .footer-container .footer-row .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
footer .footer-container .footer-row .social-links img {
  height: 26px;
}