{% extends 'base.html' %}
{% load static %}

{% block add_links %}
    <link rel="stylesheet" href="{% static 'homepage/css/index.css'%}">
{% endblock %}

{% block content %}
<!-- slider -->
<article>
    <!-- It's going to be a slider at some point of time -->
    <div class="slider-container">
        {% for post in slider_posts %}
            <div class="slider-block" style="background: url('{{ post.image.image.url}}');background-size: cover;">
                <div class="slider-block-content">
                    <h1 class="block-title">
                        {{ post.title|truncatewords:5 }}
                    </h1>
                    <p class="block-description">
                        {{ post.summary|truncatewords:15 }}
                    </p>
                </div>  
            </div>
        {% endfor %}
    </div>
</article>
<!-- slider -->
<!-- временный params-box -->
<section>
    <div class="order-and-search-box">
        <div class="ordering">
            <p class="order-by order-by-new">По новизне</p>
            <p class="order-by order-by-popular">По популярности</p>
        </div>
        <div class="search-bar">
            <input type="search" name="Поиск" id="search-bar-field">
        </div>
    </div>
</section>
<!-- временный params-box -->
{% endblock %}