{% extends 'base.html' %}
{% load static %}

{% block add_links %}
    <link rel="stylesheet" href="{% static 'homepage/css/index.css'%}">
{% endblock %}

{% block content %}
<!-- slider -->
<article>
    <!-- It's going to be a slider at some point of time -->
    <div class="slider-container">
        {% for post in slider_posts %}
            <div class="slider-block" style="background: url('{{ post.image.image.url}}');background-size: cover;">
                <div class="slider-block-content">
                    <h1 class="block-title">
                        {{ post.title|truncatewords:5 }}
                    </h1>
                    <p class="block-description">
                        {{ post.summary|truncatewords:15 }}
                    </p>
                </div>  
            </div>
        {% endfor %}
    </div>
</article>
<!-- slider -->
<!-- временный params-box -->
<section>
    <div class="order-and-search-box">
        <div class="ordering">
            <p class="order-by order-by-new">По новизне</p>
            <p class="order-by order-by-popular">По популярности</p>
        </div>
        <div class="search-bar">
            <input type="search" name="Поиск" id="search-bar-field">
        </div>
    </div>
</section>
<!-- временный params-box -->
<main>
    <article>
        <div class="main-container">
            {% for article in articles %}
            <div class="article-box">
                <div class="text-box">
                    <p class="article-date">{{ article.time_created }}</p>
                    <h1 class="article-title">{{ article.title }}</h1>
                    <p class="article-summary">{{ article.summary }}</p>
                    <div class="article-sub-info">
                        <div class="article-views sub-info-box">
                            <span class="views-icon article-icon">
                                <img src="{% static 'homepage/imgs/icons/eye-50.png' %}" alt="Views Icon">
                            </span>
                            <p>{{ article.views }}</p>
                        </div>
                        <div class="article-author sub-info-box">
                            <span class="author-icon article-icon">
                                <img src="{% static 'homepage/imgs/icons/author-50.png' %}" alt="Author Icon">
                            </span>
                            <p>{{ article.author }}</p>
                        </div>
                    </div>
                </div>
                <div class="img-box">
                    <img class="article-image" src="{{ article.image.image.url }}" alt="{{ article.image.title }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</main>
<footer style="background:url({% static 'homepage/imgs/header-background.jpg' %});background-position:bottom;">
    <div class="footer-container">
        <div class="footer-row">
            <h1 class="row-title">О Lizzor</h1>
            <a href="#" class="row-link">О нас</a>
            <a href="#" class="row-link">Вакансии</a>
            <a href="#" class="row-link">Блог</a>
        </div>
        <div class="footer-row">
            <h1 class="row-title">Сотрудничество</h1>
            <a href="#" class="row-link">Тарифы</a>
            <a href="#" class="row-link">Размещение баннеров</a>
            <a href="#" class="row-link">Партнёрство</a>
        </div>
        <div class="footer-row">
            <h1 class="row-title">Сообщить об ошибке</h1>
            <a href="#" class="row-link">Проблемы с доступом</a>
            <a href="#" class="row-link">Ошибочность информации</a>
            <a href="#" class="row-link">Нарушение АП</a>
        </div>
        <div class="footer-row">
            <h1 class="row-title">Контакты</h1>
            <a href="#" class="row-link">contact@lizzor.com</a>
            <a href="#" class="row-link">+375 (44) 776-83-22</a>
            <div class="social-links">
                <div class="instagram">
                    <a href="#" class="footer-social-link">
                        <img src="{% static 'homepage/imgs/icons/instagram.png' %}" alt="Instagram Account">
                    </a>
                </div>
                <div class="telegram">
                    <a href="#" class="footer-social-link">
                        <img src="{% static 'homepage/imgs/icons/telegram.png' %}" alt="Telegram Channel">
                    </a>
                </div>
                <div class="tiktok">
                    <a href="#" class="footer-social-link">
                        <img src="{% static 'homepage/imgs/icons/tiktok.png' %}" alt="TikTok Account">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}