{% extends 'base.html' %}
{% load static %}

{% block add_links %}
    <link rel="stylesheet" href="{% static 'homepage/css/index.css'%}">
{% endblock %}

{% block content %}
<!-- slider -->
<article>
    <!-- It's going to be a slider at some point of time -->
    <div class="slider-container">
        {% for post in slider_posts %}
            <div class="slider-block" style="background: url('{{ post.image.image.url}}');background-size: cover; background-position: center;">
                <div class="slider-block-content">
                    <h1 class="block-title">
                        {{ post.title|truncatewords:6 }}
                    </h1>
                    <p class="block-description">
                        {{ post.summary|truncatewords:15 }}
                    </p>
                </div>  
            </div>
        {% endfor %}
    </div>
</article>
<!-- slider -->
<!-- временный params-box -->
<section>
    <div class="order-and-search-box">
        <div class="ordering">
            <a class="order-by order-by-new" href="#">По новизне</a>
            <a class="order-by order-by-popular"  href="#">По популярности</a>
        </div>
        <div class="search-bar">
            <input type="search" name="Поиск" id="search-bar-field">
        </div>
    </div>
</section>
<!-- временный params-box -->
<main>
    <article>
        <div class="main-container">
            {% for article in articles %}
            <a href="{% url 'ArticlePage' article_id=article.pk %}">
                <div class="article-box">
                    <div class="text-box">
                        <p class="article-date">{{ article.time_created }}</p>
                        <h1 class="article-title">{{ article.title }}</h1>
                        <p class="article-summary">{{ article.summary }}</p>
                        <div class="article-sub-info">
                            <div class="article-views sub-info-box">
                                <span class="views-icon article-icon">
                                    <img src="{% static 'homepage/imgs/icons/eye-50.png' %}" alt="Views Icon">
                                </span>
                                <p>{{ article.views }}</p>
                            </div>
                            <div class="article-author sub-info-box">
                                <span class="author-icon article-icon">
                                    <img src="{% static 'homepage/imgs/icons/author-50.png' %}" alt="Author Icon">
                                </span>
                                <p>{{ article.author }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-box">
                        <img class="article-image" src="{{ article.image.image.url }}" alt="{{ article.image.title }}">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </article>
    <!-- Пагинация -->
    <nav class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}
        <p>{{ page_obj.number }}</p>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
        {% endif %}
        </nav>
    <!-- Пагинация -->
</main>
{% endblock %}