.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1300px;
    margin: 0 auto;
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        // img {
        //     max-height: 150px;
        //     border-radius: 50%;
        // }
        img.rounded {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            height: 150px;
            width: 150px;
          }
        .naming {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-username {
                color: rgb(70, 70, 70);
            }
        }
    }
}