.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1300px;
    margin: 0 auto;
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        // img {
        //     max-height: 150px;
        //     border-radius: 50%;
        // }
        img.rounded {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            height: 150px;
            width: 150px;
          }
        .naming {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-username {
                color: rgb(70, 70, 70);
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        .content-block {
            width: 50%;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            h1 {
                font-size: 30px;
                text-align: center;
            }
            .content-list {
                width: 99%;
                height: 90%;
                border-top: 1px solid black;
            }
            .content-post {
                width: 100%;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
}