{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/base.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="header-menu-container">
            <div class="logo">
                <img src="{% static 'homepage/imgs/logo-branding-white.png' %}" alt="Логотип проекта">
            </div>
            <div class="header-menu-list">
                {% for item in categories %}
                <a href="#" class="menu-list-item">{{ item }}</a>
                {% endfor %}
            </div>
            <div class="header-profile">
                <a href="#" class="profile-icon-a">
                    <img src="{% static 'homepage/imgs/icons/icons8-male-user-50-white.png' %}" alt="Профиль">
                </a>
            </div>
        </div>
        <div class="subheader">
            <div class="current-category">
                <h1>{{ cat_selected }}</h1>
            </div>
            <div class="subcategories">
                {% for subcat in subcategories %}
                    <a href="#">{{ subcat.name }}</a>
                {% endfor %}
            </div>
        </div>
    </header>

</body>
</html>