.login-container {
  margin: 0 auto;
  max-width: 1300px;
  max-height: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-container h1 {
  margin: 50px 0px;
  font-size: 60px;
}
.login-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login-container p {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-container p label {
  margin-top: 5px;
}
.login-container input {
  width: 300px;
  height: 50px;
  margin-left: 10px;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 20px;
}
.login-container button {
  padding: 5px 20px;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  background-color: red;
  color: white;
  border-radius: 10px;
}